


.about{
    padding-top: 100px;

}


.sec-title::before{
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: var(--first-color);*/
    box-shadow: 1px 2px 8px #000000, -2px -2px 3px #ffffff5e;
    border-radius: 5px;
}
.about .container{
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.about .container .head{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.about .container .head .box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-color: var(--container-color);
    padding: 20px;
    min-width:200px;
    flex: 1;
    border-radius: 6px;
}

.about .container .img-con img{
    max-width: 450px;
    width: 100%;
    
}

.about .container .info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;

}

.about .container .info p{
    max-width: 500px;
    line-height: 1.8;



}